<a href="https://colab.research.google.com/github/iqballm09/football-dsproj/blob/master/eda.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Exploratory Data Analysis (EDA)**

In [1]:
# Import libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Read datasets as dataframe
df = pd.read_csv("https://raw.githubusercontent.com/iqballm09/football-dsproj/master/halftime_finalstats.csv")
df.head()

,match_id,half-time_score,ball_possession,goal_attempts,shots_on_goal,shots_off_goal,dangerous_attacks,blocked_shots,corner_kicks,fouls,...,red_cards,total_passes,completed_passes,goalkeeper_saves,throw-in,offsides,free_kicks,tackles,attacks,full-time_score
0,g_1_rsHGKcN4,1 - 4,54 - 46,6 - 6,2 - 4,4 - 2,14 - 18,NaN,1 - 1,6 - 7,...,NaN,229 - 169,NaN,0 - 1,10 - 13,1 - 0,9 - 9,NaN,35 - 66,1 - 5
1,g_1_0IRBLw8b,0 - 0,47 - 53,8 - 3,1 - 1,7 - 2,36 - 15,NaN,8 - 1,10 - 9,...,NaN,189 - 201,NaN,1 - 1,9 - 8,0 - 0,10 - 12,NaN,46 - 33,0 - 1
2,g_1_2BXmbVHd,4 - 0,68 - 32,14 - 5,9 - 2,5 - 3,40 - 16,NaN,4 - 2,2 - 3,...,NaN,320 - 127,NaN,2 - 5,15 - 7,1 - 1,4 - 2,NaN,63 - 38,5 - 2
3,g_1_6qbU6NLd,1 - 0,53 - 47,2 - 8,1 - 3,1 - 5,14 - 35,NaN,2 - 4,2 - 4,...,NaN,337 - 329,NaN,3 - 0,11 - 10,0 - 0,4 - 2,NaN,46 - 71,3 - 1
4,g_1_I1Au4L5F,0 - 0,51 - 49,8 - 7,4 - 3,4 - 4,28 - 16,NaN,4 - 0,4 - 5,...,NaN,256 - 247,NaN,3 - 4,6 - 5,0 - 0,5 - 5,NaN,63 - 58,3 - 1

In [3]:
# Show size of dataframe
print("Dataframe consists of {} rows and {} columns.".format(df.shape[0], df.shape[1]))

Dataframe consists of 1828 rows and 21 columns.

## Check missing values

In [4]:
# Check missing values
mv = df.isnull().sum() != 0
mv_df = df.isnull().sum()[mv == True] / len(df)
mv_df

dangerous_attacks    0.001641
blocked_shots        0.248906
yellow_cards         0.270241
red_cards            0.958425
total_passes         0.210613
completed_passes     0.792123
throw-in             0.683260
tackles              0.172319
attacks              0.001641
dtype: float64

**red_cars, completed_passes and throw-in** variables have missing values proportion **more than 50%** so that we need analysis deeply to find the reasons behind them.

In [13]:
df_redcards = df[df.red_cards.isna()]
df_redcards.head()

,match_id,half-time_score,ball_possession,goal_attempts,shots_on_goal,shots_off_goal,dangerous_attacks,blocked_shots,corner_kicks,fouls,...,red_cards,total_passes,completed_passes,goalkeeper_saves,throw-in,offsides,free_kicks,tackles,attacks,full-time_score
0,g_1_rsHGKcN4,1 - 4,54 - 46,6 - 6,2 - 4,4 - 2,14 - 18,NaN,1 - 1,6 - 7,...,NaN,229 - 169,NaN,0 - 1,10 - 13,1 - 0,9 - 9,NaN,35 - 66,1 - 5
1,g_1_0IRBLw8b,0 - 0,47 - 53,8 - 3,1 - 1,7 - 2,36 - 15,NaN,8 - 1,10 - 9,...,NaN,189 - 201,NaN,1 - 1,9 - 8,0 - 0,10 - 12,NaN,46 - 33,0 - 1
2,g_1_2BXmbVHd,4 - 0,68 - 32,14 - 5,9 - 2,5 - 3,40 - 16,NaN,4 - 2,2 - 3,...,NaN,320 - 127,NaN,2 - 5,15 - 7,1 - 1,4 - 2,NaN,63 - 38,5 - 2
3,g_1_6qbU6NLd,1 - 0,53 - 47,2 - 8,1 - 3,1 - 5,14 - 35,NaN,2 - 4,2 - 4,...,NaN,337 - 329,NaN,3 - 0,11 - 10,0 - 0,4 - 2,NaN,46 - 71,3 - 1
4,g_1_I1Au4L5F,0 - 0,51 - 49,8 - 7,4 - 3,4 - 4,28 - 16,NaN,4 - 0,4 - 5,...,NaN,256 - 247,NaN,3 - 4,6 - 5,0 - 0,5 - 5,NaN,63 - 58,3 - 1

In [14]:
len(df_redcards)

1752

In [ ]:
df